@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}
.layout{
    background-color: rgb(18, 179, 179);
    height: 400px;
    width: 500px;
    border: 2px solid;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgb(106, 106, 106);
}
.layout:hover{
    transition: all 0.3s;
    box-shadow: 0 8px 16px 0 rgb(106, 106, 106);
}
.layout-title{
    text-align: center;
    font-weight: bold;
    margin: 15px;
}
.layout-body{
    padding: 25px;
    text-align: center;
}
.form-field{
    margin-bottom: 80px;
    font-size: 22px;
}
input{
    width: 20%;
    height: 2rem;
    border: none;
    border: 2px solid;
    background-color: rgb(17, 162, 162);
    color: white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}
.button{
    margin-top: 35px;
    display: flex;
    justify-content: flex-end;
}
#check{
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(193, 191, 191);
    color: white;
    padding: 5px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}
.result-text{
    margin-bottom: 15px;
}
.random-number{
    margin-bottom: 15px;
}
#check:hover{
    transition: all 0.3s;
    box-shadow: 0 4px 8px 0 rgb(106, 106, 106);
}